* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  overflow-x: clip;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  color: #051C51;
}

h2 {
  font-size: 38px;
  font-weight: 600;
  color: #051C51;
}

h3 {
  font-weight: 400;
  font-size: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.button {
  margin-top: 20px;
  width: 276px;
  height: 60px;
  background: #F5AA17;
  border: none;
  color: #000;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s;
}

.button:hover {
  background: #c9870e;
}

.header {
  height: 832px;
  background: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 832px;
}
.header-gradient {
  height: 832px;
  background: linear-gradient(100.08deg, rgba(5, 28, 81, 0.7) 0.08%, rgba(0, 0, 0, 0.25) 81.6%);
}
.header__btn {
  display: none;
}

.menu {
  height: 167px;
  background: rgba(255, 255, 255, 0.8);
}
.menu-box {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}
.menu__logo {
  display: flex;
}
.menu__logo-img {
  background: url("../img/cats.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99px;
  height: 99px;
}
.menu__logo-text {
  font-size: 22px;
  font-weight: 500;
  position: relative;
  top: 50px;
  left: -20px;
}
.menu__list {
  margin-top: 50px;
  margin-right: 70px;
}
.menu__list li {
  display: inline-block;
  font-size: 20px;
  margin-right: 30px;
}
.menu__list li a {
  text-decoration: none;
}
.menu__list li h3 {
  font-weight: 400;
  color: #000;
  transition: all 0.3s;
}
.menu__list li h3:hover {
  font-weight: 600;
}
.menu__soc-tel {
  display: flex;
  margin-bottom: 10px;
}
.menu__soc-tel-logo {
  background: url("../img/a1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}
.menu__soc-tel-wrp {
  margin-top: 2px;
}
.menu__soc-tel-phone {
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.menu__soc-adress {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22.34px;
}
.menu__soc-time {
  font-size: 18px;
}

#fi {
  margin-right: 0;
}

.htext {
  margin-bottom: 50px;
}

.hero-items {
  display: flex;
}
.hero__item-left {
  width: 653px;
  margin-top: 76px;
  color: #fff;
}
.hero__item-left-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 48px;
}
.hero__item-left-text {
  font-size: 20px;
  margin-bottom: 30px;
  width: 603px;
}
.hero__item-right {
  display: flex;
  justify-content: space-between;
}
.hero__item-right-img {
  position: absolute;
  margin-top: 44px;
}

#b1 {
  background: url("../img/bag2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 456px;
  height: 506px;
  left: 770px;
}

#b2 {
  background: url("../img/bag3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 505px;
  height: 505px;
  left: 1120px;
}

#b3 {
  background: url("../img/bag1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 573px;
  height: 573px;
  left: 900px;
}

.panel {
  height: 221px;
}
.panel__items {
  display: flex;
  justify-content: space-between;
}
.panel__item {
  text-align: center;
  font-size: 20px;
  width: 250px;
  margin-top: 50px;
}
.panel__item-title {
  margin-bottom: 10px;
}
.panel__item-title span {
  font-size: 48px;
  color: #F5AA17;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.catalog {
  background: #E3E3E3;
}
.catalog__top {
  padding-top: 100px;
  display: flex;
}
.catalog__top-title {
  margin-right: 254px;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 70px;
  color: #051C51;
}
.catalog__top-btn {
  width: 208px;
  height: 60px;
  bottom: none;
  background: #fff;
  font-weight: 500;
  border: 2px solid #F5AA17;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s;
}
.catalog__top-btn:hover {
  background: #F5AA17;
  border: none;
  color: #000;
}
.catalog__carts {
  display: flex;
}
.catalog__carts-left {
  margin-right: 30px;
}
.catalog__btn {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 99px;
}
.catalog__btn-wrp {
  display: flex;
  width: 388px;
  margin: 0 auto;
}
.catalog__btn-inner {
  width: 330px;
  height: 60px;
  bottom: none;
  background: #fff;
  font-weight: 500;
  border: 2px solid #F5AA17;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s;
}
.catalog__btn-inner:hover {
  background: #F5AA17;
  color: #000;
  cursor: pointer;
}
.catalog__btn-load {
  background: url("../img/load.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 38px;
  height: 38px;
  margin-left: 20px;
  margin-top: 10px;
  animation: 2s linear 0s normal none infinite spin;
  -webkit-animation: 2s linear 0s normal none infinite spin;
  -moz-animation: 2s linear 0s normal none infinite spin;
}

.none {
  display: none;
}

.active {
  display: block;
}

.cart {
  width: 685px;
  height: 497px;
  background: #fff;
  padding: 50px;
  transition: all 0.3s;
  margin-bottom: 30px;
}
.cart__top {
  margin-bottom: 27px;
}
.cart__top, .cart__bottom {
  display: flex;
}
.cart__title {
  margin-right: 77px;
  color: #051C51;
  font-size: 20px;
}
.cart__price {
  color: #4F8C00;
  font-size: 20px;
}
.cart__info {
  margin-top: 27px;
}
.cart-desc {
  color: #0F0F0F;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: normal;
}
.cart-val {
  margin-bottom: 20px;
  color: #051C51;
  font-weight: 500;
  font-size: 20px;
}
.cart__img {
  background: url("../img/bag4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 312px;
  height: 375px;
}
.cart-btn {
  margin-top: 50px;
}

.cart:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.btn1 {
  margin-right: 30px;
  background: #F5AA17;
  border: none;
  color: #000;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s;
}

.btn1:hover {
  background: #c9870e;
}

.adv {
  padding-top: 100px;
}
.adv__title {
  font-weight: 600;
  font-size: 48px;
  color: #051C51;
  margin-bottom: 80px;
}
.adv__wrp {
  display: flex;
  height: 600px;
}
.adv__list1 {
  width: 42%;
}
.adv__list li, .adv__list1 li {
  margin-bottom: 50px;
  width: 478px;
  font-size: 20px;
  display: flex;
}
.adv__list span, .adv__list1 span {
  width: 410px;
  font-size: 20px;
}
.adv__img1 {
  background: url("../img/bag3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 463px;
  height: 480px;
  position: relative;
  top: -80px;
  left: -62px;
}
.adv__img2 {
  background: url("../img/bag3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 376px;
  height: 379px;
  position: relative;
  top: -400px;
  left: 100px;
}

.check {
  background: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.form1 {
  height: 450px;
  background: url("../img/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
}
.form1__gradient {
  height: 450px;
  background: linear-gradient(135.2deg, rgba(5, 28, 81, 0.7) 0.68%, rgba(0, 0, 0, 0.25) 91.59%);
}
.form1__wrp {
  display: flex;
  padding-top: 100px;
}
.form1__left {
  margin-right: 70px;
}
.form1__title {
  margin-bottom: 30px;
}
.form1__title, .form1__text {
  color: #fff;
}
.form1__right form {
  width: 566px;
}
.form1__right input[type=text] {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 24px;
}
.form1__right input[type=submit] {
  width: 312px;
  height: 60px;
  background: #F5AA17;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}
.form1__right input[type=submit]:hover {
  background: #c9870e;
  cursor: pointer;
}

.sphere {
  height: 1162px;
  padding-top: 100px;
}
.sphere__wrp {
  display: flex;
}
.sphere__left {
  margin-right: 100px;
}
.sphere__left-title {
  margin-bottom: 50px;
}
.sphere__mid {
  background: url("../img/line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1px;
  height: 876px;
  margin-top: 100px;
  margin-right: 100px;
}
.sphere__right-title {
  margin-bottom: 50px;
}
.sphere__item {
  display: flex;
  margin-bottom: 18px;
}
.sphere__item-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}
.sphere__item-text {
  margin-top: 70px;
}

#s1 {
  background: url("../img/sphere/s1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s2 {
  background: url("../img/sphere/s2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s3 {
  background: url("../img/sphere/s3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s4 {
  background: url("../img/sphere/s4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s5 {
  background: url("../img/sphere/s5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s6 {
  background: url("../img/sphere/s6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s7 {
  background: url("../img/sphere/s7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s8 {
  background: url("../img/sphere/s8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s9 {
  background: url("../img/sphere/s9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#s10 {
  background: url("../img/sphere/s10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

.else {
  position: absolute;
  left: 550px;
}

.form2 {
  height: 706px;
  background: url("../img/form2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 706px;
}
.form2__gradient {
  background: linear-gradient(89.83deg, rgba(5, 28, 81, 0.7) 2.47%, rgba(0, 0, 0, 0.25) 75.18%);
  height: 100%;
}
.form2__wrp {
  padding-top: 100px;
  display: flex;
}
.form2__left {
  width: 50%;
  margin-right: 150px;
}
.form2__right {
  margin-top: 10px;
}
.form2__title {
  margin-bottom: 30px;
}
.form2__text {
  width: 446px;
}
.form2__title, .form2__text {
  color: #fff;
}
.form2__list {
  margin-bottom: 30px;
  color: #fff;
}
.form2__list-heading {
  margin-bottom: 20px;
}
.form2__list li {
  margin-bottom: 20px;
  width: 505px;
}

.about {
  height: 1066px;
  background: #fff;
}
.about__wrp {
  padding-top: 100px;
}
.about__title {
  margin-bottom: 77px;
}
.about__items {
  display: grid;
  grid-template-columns: 300px 500px 300px;
  gap: 50px;
  justify-content: center;
}
.about__item-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}
.about__item-subtitle {
  text-align: center;
  color: #051C51;
  font-weight: 500;
  margin-top: 17px;
  margin-bottom: 20px;
}

#ab1 {
  background: url("../img/about/ab1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#ab2 {
  background: url("../img/about/ab2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  background-position-x: 100%;
}

#ab3 {
  background: url("../img/about/ab3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#ab4 {
  background: url("../img/about/ab4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#ab5 {
  background: url("../img/about/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

#ab6 {
  background: url("../img/about/ab6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

.solution {
  height: 492px;
  background: url("../img/solution.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 492px;
}
.solution__gradient {
  background: linear-gradient(90deg, rgba(5, 28, 81, 0.7) 0%, rgba(0, 0, 0, 0.25) 83.69%);
  height: 100%;
}
.solution__title {
  padding-top: 100px;
  color: #fff;
  margin-bottom: 30px;
}
.solution__text {
  color: #fff;
  margin-bottom: 50px;
  width: 780px;
  font-size: 20px;
}

.clients {
  height: 800px;
  background: #e3e3e3;
}
.clients__wrp {
  padding-top: 100px;
}
.clients__title {
  margin-bottom: 80px;
}

.slider {
  width: 1425px;
  height: 500px;
  display: flex;
}
.slider__item {
  width: 447px;
  height: 481px;
  background: #fff;
  transition: all 0.3s;
  padding: 50px;
  margin-right: 30px;
}
.slider__item:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}
.slider__stars {
  background: url("../img/stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 20px;
  margin-bottom: 20px;
}
.slider__text {
  width: 300px;
  margin-bottom: 10px;
}
.slider__more a {
  text-decoration: none;
  color: #666;
}

#sl1 {
  background: url("../img/clients/c1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#sl2 {
  background: url("../img/clients/c2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#sl3 {
  background: url("../img/clients/c3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#sl4 {
  background: url("../img/clients/c4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */