* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  overflow-x: clip;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  height: 832px;
  background: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 832px;
}
.header-gradient {
  height: 832px;
  background: linear-gradient(100.08deg, rgba(5, 28, 81, 0.7) 0.08%, rgba(0, 0, 0, 0.25) 81.6%);
}
.header__btn {
  display: none;
}

.menu {
  height: 167px;
  background: rgba(255, 255, 255, 0.8);
}
.menu-box {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}
.menu__logo {
  display: flex;
}
.menu__logo-img {
  background: url("../img/cats.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99px;
  height: 99px;
}
.menu__logo-text {
  font-size: 22px;
  font-weight: 500;
  position: relative;
  top: 50px;
  left: -20px;
}
.menu__list {
  margin-top: 50px;
  margin-right: 70px;
}
.menu__list li {
  display: inline-block;
  font-size: 20px;
  margin-right: 30px;
}
.menu__list li a {
  text-decoration: none;
}
.menu__list li h3 {
  font-weight: 400;
  color: #000;
  transition: all 0.3s;
}
.menu__list li h3:hover {
  font-weight: 600;
}
.menu__soc-tel {
  display: flex;
  margin-bottom: 10px;
}
.menu__soc-tel-logo {
  background: url("../img/a1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}
.menu__soc-tel-wrp {
  margin-top: 2px;
}
.menu__soc-tel-phone {
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.menu__soc-adress {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22.34px;
}
.menu__soc-time {
  font-size: 18px;
}

#fi {
  margin-right: 0;
}

.htext {
  margin-bottom: 50px;
}

.hero-items {
  display: flex;
}
.hero__item-left {
  width: 653px;
  margin-top: 76px;
  color: #fff;
}
.hero__item-left-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 48px;
}
.hero__item-left-text {
  font-size: 20px;
  margin-bottom: 30px;
  width: 603px;
}
.hero__item-left-btn button {
  margin-top: 20px;
  width: 276px;
  height: 60px;
  background: #F5AA17;
  border: none;
  color: #000;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}
.hero__item-right {
  display: flex;
  justify-content: space-between;
}
.hero__item-right-img {
  position: absolute;
  margin-top: 44px;
}

#b1 {
  background: url("../img/bag2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 456px;
  height: 506px;
  left: 770px;
}

#b2 {
  background: url("../img/bag3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 505px;
  height: 505px;
  left: 1120px;
}

#b3 {
  background: url("../img/bag1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 573px;
  height: 573px;
  left: 900px;
}/*# sourceMappingURL=style.css.map */