@import '../_vars'
.catalog
    background: $bg
    &__top
        padding-top: 100px
        display: flex
        &-title
            margin-right: 254px
            font-weight: 600
            font-size: 48px
            margin-bottom: 70px
        &-btn
            width: 208px
            height: 60px
            bottom: none
            background: #fff
            font-weight: 500
            border: 2px solid $yellow
            border-radius: 5px
            font-size: 20px
        &-btn:hover
            background: $yellow
            border: none
            color: #000
            border-radius: 5px
            font-size: 20px
            font-weight: 500
            transition: all 0.3s

.btn1
    margin-right: 30px
    background: $yellow
    border: none
    color: #000
    border-radius: 5px
    font-size: 20px
    font-weight: 500
    transition: all 0.3s
.btn1:hover
    background: #c9870e
