@import "../_vars"
.form2
    height: 706px
    @include img('../img/form2.png',100%,706px)
    &__gradient
        background: linear-gradient(89.83deg, rgba(5, 28, 81, 0.7) 2.47%, rgba(0, 0, 0, 0.25) 75.18%)
        height: 100%
    &__wrp
        padding-top: 100px
        display: flex
    &__left
        width: 50%      
        margin-right: 150px
    &__right
        margin-top: 10px    
    &__title
        margin-bottom: 30px
    &__text
        width: 446px    
    &__title,
    &__text
        color: #fff     
    &__list
        margin-bottom: 30px
        color: #fff    
        &-heading
            margin-bottom: 20px
        li
            margin-bottom: 20px     
            width: 505px