@import '../_vars'
.solution
    height: 492px
    @include img('../img/solution.png',100%,492px)
    &__gradient
        background: linear-gradient(90deg, rgba(5, 28, 81, 0.7) 0%, rgba(0, 0, 0, 0.25) 83.69%)
        height: 100%
    &__title
        padding-top: 100px
        color: #fff
        margin-bottom: 30px
    &__text
        color: #fff    
        margin-bottom: 50px
        width: 780px
        font-size: 20px
@media screen and (max-width: 770px)
    .solution
        &__title
            width: 583px
            padding-top: 80px
        &__text
            width: 601px
@media screen and (max-width: 400px)            
    .solution
        height: 430px
        &__title
            width: 291px
            padding-top: 50px
            font-size: 33px
        &__text
            width: 258px
            font-size: 16px

        
