@import "../vars"
.sphere
    height: 1162px
    padding-top: 100px
    &__wrp
        display: flex
    &__left
        margin-right: 100px
        &-title
            margin-bottom: 50px
    &__mid
        @include img('../img/line.svg',1px, 876px)
        margin-top: 100px
        margin-right: 100px
    &__right
        &-title
            margin-bottom: 50px
    &__item
        display: flex
        margin-bottom: 18px
        &-img
            width: 150px
            height: 150px
            border-radius: 50%
            margin-right: 20px
        &-text
            margin-top: 70px
#s1
    @include img('../img/sphere/s1.png',150px,150px)
#s2
    @include img('../img/sphere/s2.png',150px,150px)
#s3
    @include img('../img/sphere/s3.png',150px,150px)
#s4
    @include img('../img/sphere/s4.png',150px,150px)
#s5
    @include img('../img/sphere/s5.png',150px,150px)
#s6
    @include img('../img/sphere/s6.png',150px,150px)
#s7
    @include img('../img/sphere/s7.png',150px,150px)
#s8
    @include img('../img/sphere/s8.png',150px,150px)
#s9
    @include img('../img/sphere/s9.png',150px,150px)
#s10
    @include img('../img/sphere/s10.png',150px,150px)
.else
    position: absolute
    left: 550px
@media screen and (max-width: 770px)
    .sphere
        height: 1455px
        &__left
            width: 232px
            margin-right: 0
            &-title
                width: 232px
        &__mid
            margin-right: 13px
            margin-left: 45px
            height: 1200px
        &__item
            &-right
                margin-bottom: 65px
            &-text
                max-width: 264px
                align-self: center
                margin-top: 0
            &-left
                display: block
            &-left .sphere__item-text
                margin-top: 10px
        &__right
            &-title
                width: 266px
    .else
        left: 210px
        margin-top: 50px
@media screen and (max-width: 400px)
    .sphere
        height: 1103px
        &__left
            width: 150px
            margin-right: 15px
            &-title
                width: 116px
                font-size: 18px
        &__mid
            display: none
        &__item
            //margin-bottom: 22px
            &-left
                width: 150px
            &-left .sphere__item-text
                width: 140px
            &-img
                width: 100px
                height: 100px
            &-text
                font-size: 14px
            &-right .sphere__item-text
                width: 130px
                margin-bottom: 45px
        &__right
            &-title
                width: 132px
                font-size: 18px
        &__right:nth-child(2)
            margin-bottom: 50px
    .else
        margin-top: -38px
        font-size: 16px
    #s1,#s2,#s3,#s4,#s5
        width: 120px
        height: 120px
    #s6,#s7,#s8,#s9,#s10
        display: none
